/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
}

.header {
  display: grid;
  grid-template-rows: repeat(4, min-content); 
  gap: 4.7vh;
  margin-top: 1.5vh;
  min-block-size: 668px; 
  block-size: 100vb;
}

@media (768px <= width < 1024px) {
  .header {
    margin-top: 2vh;
    gap: 12vh;
  }
}

@media (1024px <= width) {
  .header {
    margin-top: 2.7vh;
    grid-template-columns: 1fr 60px;
  }
}

.rec-decoration {
  position: relative;
  text-transform: uppercase;
  color: var(--decoration-color);
  font-size: 18px;
  line-height: 1,5625rem;
  justify-self: end;
  padding-right: 10vw;
}

@media (768px <= width < 1024px) {
  .rec-decoration {
    padding-right: 6vw;   
  }
}

@media (1024px <= width) {
  .rec-decoration {
    grid-row-start: 1;
    grid-column-start: 2;
    padding-right: 50px;
  }
}

.rec-decoration::after {
  content: "";
  position: absolute;
  inset-inline-end: 5vw;
  inset-block-start: 1.5vh;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: var(--decoration-color);
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
}

@media (768px <= width < 1024px) {
  .rec-decoration::after {
    inset-inline-end: 32px;
    inset-block-start: 7px;
  }
}

@media (1024px <= width) {
  .rec-decoration::after {
    inset-inline-end: 32px;
    inset-block-start: 7px;
  }
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-top: 1px solid var(--decoration-color);
  border-right: 1px solid var(--decoration-color);
  height: 25px;
  width: 25px;
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--decoration-color);
  border-left: 1px solid var(--decoration-color);
  height: 25px;
  width: 25px;
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

@media (768px <= width < 1024px) {
  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }
  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }
}

@media (1024px <= width) {
  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }
  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }
}

.header__theme-menu {
  justify-self: end;
  margin-right: 4vw;
  padding-top: 1.5vh;
}

.page.theme_light .header__theme-menu {
  margin-top: 8vh;
}

@media (768px <= width < 1024px) {
  .header__theme-menu {
    padding-top: 2.3vh;
    margin-right: 3.7vw;
  }
}

@media (1024px <= width) {
  .header__theme-menu {
    grid-row-start: 1;
    margin-right: 0;
    justify-self: center;
    align-self: start;
    padding-top: 0;
    padding-left: clamp(6rem, 7.8571rem + -2.9018vw, 4.375rem);
  }
}

.header__theme-menu-item {
  color: var(--decoration-color);
  font-size: 18px;
}

.header__theme-menu-item:not(:last-child) {
  margin-bottom: 1.5vh;
}

@media (1024px <= width) {
  .header__theme-menu-item {
    display: inline;
  }
  .header__theme-menu-item:not(:last-of-type) {
    padding-right: 1.3vw;
  }
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decoration-color);
}

.header__theme-menu-button:hover {
  cursor: pointer;
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--decoration-color);
}

.header__title {
  color: var(--title-text-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 95.7px;
  padding-top: 5.5vh;
  padding-left: 3vw;
}

@media (768px <= width < 1024px) {
  .header__title {
    padding-left: 0;
    padding-top: 5vh;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (1024px <= width) {
  .header__title {
    padding-top: 33vh;
    padding-left: 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (1024px <= width) {
  .page.theme_light .header {
    grid-template-columns: repeat(1, 1fr);
  }
  .page.theme_light .header__theme-menu {
    margin-top: 0;
    justify-self: center;
    margin-left: 0vw;
    padding-left: 33px;
  }
  .page.theme_light .header__title {
    grid-row-start: 2;
  }
 .page.theme_auto .header {
    grid-template-columns: repeat(1, 1fr);
  }
  .page.theme_auto .header__theme-menu {
    margin-top: 0;
    justify-self: center;
    padding-left: 117px;
  }
  .page.theme_auto .header__title {
    grid-row-start: 2;
  }
}

@media (prefers-color-scheme: light) and (1024px <= width) {
  .page.theme_auto .header__theme-menu {
    margin-top: 0;
    justify-self: center;
    padding-left: 33px;
}

.page.theme_dark .rec-decoration {
  display: block;
}

.page.theme_dark .header__theme-menu {
  margin-top: 0;
}

.header__subtitle {
  max-width: 491px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  justify-self: end;
  margin: 3.5vh 3vw;
}

@media (768px <= width < 1024px) {
  .header__subtitle {
    margin-left: 50vw;
  }
}

@media (1024px <= width) {
  .header__subtitle {
    grid-row-start: 3;
    grid-column: span 2;
    margin: 12vh 2vw 0 50vw;
    justify-self: end;
    
  }
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--header-text-color);
}

.main {
  margin-top: 5vh;
}

@media (768px <= width < 1024px) {
  .main {
    margin-top: 4vh;
  }
}

.section {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  padding: 0 2.7vw;
}

@media (768px <= width < 1024px) {
  .section {
    grid-template-rows: none;
    grid-template-columns: 30vw 61.5vw;
    gap: 20px;
  }
}

@media (1024px <= width) {
  .section {
    grid-template-rows: none;
    grid-template-columns: 30.7vw 63.5vw;
    gap: 20px;
    padding: 0 2vw;
  }
}

@media (768px <= width < 1024px) {
  .section.different-section {
    grid-template-columns: none;
    grid-template-rows: 9vh, min-content, min-content,min-content;
  }
  .section.different-section .section-header {
    margin-right: 70vw;
  }
}

@media (1024px <= width) {
  .section.different-section {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    padding-top: 2.3vh;
    min-width: 100%;
    padding-right: 3vw;
  }

  .section.different-section .section-header {
    grid-column: span 3;
    margin-right: 60vw;
  }
}

.section:not(:last-of-type) {
  margin-bottom: 7.8vh;
}

@media (768px <= width < 1024px) {
  .section:not(:last-of-type) {
    margin-bottom: 8vh;
  }
}

@media (1024px <= width) {
  .section:not(:last-of-type) {
    margin-bottom: 7.6vh;
  }
}

.section-header {
  color: var(--decoration-color);
  font-size: 18px;
  font-weight: 700;
}

@media (768px <= width < 1024px) {
  .bigger-section-header {
    grid-row: 1/7;
  }
}

@media (1024px <= width) {
  .bigger-section-header {
    grid-row: 1/7;
  }
}

.card {
  display: flex;
  flex-direction: column;
}

.card-header {
  font-size: 18px;
  font-weight: 700;
  margin-top: 3vh;
}

@media (768px <= width < 1024px) {
  .card {
    grid-column-start: 2;
  }
  .section.different-section .card {
    grid-column-start: auto;
  }
}

@media (1024px <= width) {
  .card {
    grid-column-start: 2;
  }
  .section.different-section .card {
    grid-column-start: auto;
  }
}

@media (768px <= width < 1024px) {
  .card-header {
    margin-top: 0;
  }
}

@media (1024px <= width) {
  .card-header {
    margin-top: 0;
  }
}

.card-text {
  color: var(--main-text-color);
  font-size: 18px;
  font-weight: 400;
  margin-top: 1.5vh;
  line-height: 23.4px;
}

@media (768px <= width < 1024px) {
  .card-text {
    margin-top: 1vh;
  }
}

.card-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.card-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.card-link:focus {
  outline: none;
}

.card-link:focus-visible {
  outline: 1px solid;
}

.lighter-header {
  font-weight: 400;
}

.gallery-header {
  margin: 0 3vw 1.5vh;
  font-weight: 700;
  font-size: 18px;
}

@media (1024px <= width) {
  .gallery-header {
    margin: 10vh 2vw 20px;
  }
}

.gallery {
  display: grid;
  gap: 10px;
  margin: 0 3vw;
}

.gallery-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.sunset-image {
  max-height: 142px;
}

.ice-cream-image {
  max-height: 355px;
}

.tape-image {
  max-height: 237px;
}

.street-image {
  max-height: 237px;
}

.books-image {
  max-height: 355px;
}

@media (768px <= width < 1024px) {
  .gallery {
    grid-template-columns: repeat(3, auto);
    gap: 20px;
  }
  .sunset-image {
    grid-column: 1 / 3;
    grid-row: 1;
    max-height: 192px;
  }
  
  .ice-cream-image {
    grid-row: 1 / 3;
    max-height: 441px;
  }

  .tape-image {
    grid-row: 2 / 4;
    max-height: 568px;
  }

  .street-image {
    grid-column: 2 / 4;
    max-height: 318px;
  }

  .books-image {
    max-height: 230px;
  }
}

@media (1024px <= width) {
  .gallery {
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    margin: 0 2vw 2vh;
  }
  .sunset-image {
    grid-column: 1 / 3;
    grid-row: 1;
    max-height: 260px;
  }
  
  .ice-cream-image {
    grid-row: 1 / 3;
    max-height: 595px;
  }

  .tape-image {
    grid-row: 2 / 4;
    max-height: 768px;
  }

  .street-image {
    grid-column: 2 / 4;
    max-height: 428px;
  }

  .books-image {
    max-height: 315px;
  }
}

.footer {
  display: grid;
  position: relative;
  min-block-size: 668px; 
  block-size: 100vh;
  margin-top: 5.5vh;
}

@media (768px <= width < 1024px) {
  .footer {
    margin-top: 5.5vh;
  }
}

@media (1024px <= width) {
  .footer {
    margin-top: 8vh;
  }
}

.footer__title {
  align-self: center;
  justify-self: center;
  color: var(--title-text-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0 var(--accent-color);
  line-height: 95.7px;
}

@media (1024px <= width) {
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem)
  }
}